<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            height: 100vh;
            margin: 0;
            justify-content: center;
            align-items: center;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
        }
    </style>
</head>
<body>
        <div class="content">
        <h1>Homepage</h1>

        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}! Stripe ID: {{ user.user_stripe_id }}</p>
        {% else %}
            <p>Welcome, Guest!</p>
        {% endif %}
    </div>

    {% for product in products %}
        <div class="product">
            <h2>{{ product.name }}</h2>
            <p>{{ product.discription }}</p>
            <p>Price: ${{ product.price_cents|floatformat:2 }}</p>

            <form action="{% url 'price' product.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="customer_id" value="{{ user.user_stripe_id }}">
                <input type="hidden" name="price_id" value="{{ product.stripe_price_id }}">
                <button type="submit" class="buy-button">Buy {{ product.name }}</button>
            </form>
        </div>
    {% endfor %}
</body>
</html>
